@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    padding: 0 15px;
    min-height: 100vh;
    justify-content: center;
    background: #f0f2f5;
}

.facebook-page {
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

.facebook-page .text {
    margin-bottom: 90px;
}

.facebook-page h1 {
    /* Customize font size, color, etc. */
}

/* Add more styles as needed */
